* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-image: url(../Media/IMGS/Header1.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow-x: hidden;
    text-transform: capitalize;
}


@keyframes infobar {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.topinfobar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.3);
    animation: infobar 3s ease-in-out;
}



.contact a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

.contact a:hover{
    color: #02aed6;
}





@keyframes navborder {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.navbar {
    margin-top: 20px;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    animation: navborder 2s;
}





.navbar::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    background: linear-gradient(to bottom, rgba(8, 8, 8, 0.014), rgba(148, 2, 2, 0.374));
    height: 100%;
    width: 100%;
    border-radius: 9%;
    transition: top 0.3s ease;
    pointer-events: none;
}

.navbar .dropdown-menu:not(.dropdown-submenu .dropdown-menu) {
    left: 50% !important;
    transform: translateX(-50%) !important;
    right: auto !important;
}

.dropdown-menu::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    background: linear-gradient(to bottom, rgba(8, 8, 8, 0.119), rgba(75, 34, 34, 0.475), rgba(148, 2, 2, 0.374));
    height: 100%;
    width: 100%;
    transition: top 0.3s ease;
    pointer-events: none;
}


.fcdslogo {
    display: flex;
    justify-content: center;
}

@keyframes imgf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.navbar-brand img {
    width: 300px;
    justify-content: center;
    animation: imgf 2s;
}

.nav-item {
    text-transform: capitalize;
    margin-top: 5px;
    margin-right: 40px;
    padding: 4px;
    font-family: cursive;
    font-size: 0.9rem;
    font-weight: bold;
    transition: transform 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

.navbar-nav li a {
    text-align: center;
}

.nav-item:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    border-bottom: 7px solid #02aed6;
    transform: scale(1.1);
}

.nav-item.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  right: 100%;  
  margin-top: 0;
  margin-left: 0.1rem;
  position: absolute;
  display: none !important; 
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block !important;
}

.dropdown-submenu.open-left > .dropdown-menu {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: 0.1rem;
}

.all-title{
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black, 1px  1px 0 rgb(255, 255, 255);
}

.all-title:hover{
    text-shadow:  -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black, 1px  1px 5px rgb(255, 255, 255);
    cursor:default;
}
/* Footer */

.end-info{
    height: 70vh;
    background-color: #333333;
}

.logo-social{
    position: absolute;
    top: 10%;
    right: 20%;
}

.end-info img{
    width: 40%;
}

.end-info p{
    position: absolute;
    right: 3%;
    color: white;
    font-weight: bolder;
}


@keyframes map {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.map-section{
    position: absolute;
    top: 13%;
    right: 40%;
    animation: map 2s;
}

.fcdsmap{
        border-radius: 10%;

}


.links{
    position: absolute;
    top: 12%;
    right: 75%;
}

.links li{
    list-style-type: none;
}

.links li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
}

.links li a:hover{
    text-decoration: none;
    color: cyan;
    font-size: 1.5rem;
}

.end{
    height: 70px;
    background-color: black;
}

.end h5{
    color: white;
    position: absolute;
    /* top: 30%;
    right: 50%; */
}
.news{
    height: 1500px;
}
.news h1{
    text-shadow: 2px 2px 6px rgb(14, 12, 12);
    font-family: "Merriweather", serif;
}
.image h2{
    font-family: "Merriweather", serif;
}

.caption{
    font-size: 15px;
    font-weight: bolder;
    font-family: "Mozilla Headline", sans-serif;
}

.caption p{
    font-size: 20px;
    font-weight: bolder;
    font-family: "Mozilla Headline", sans-serif;
}
.caption a{
    color: red;
    text-decoration: none;
}
.icons ul{
    display: flex;
    flex: row nowrap;

}
.icons ul li{
    list-style-type: none;
    margin-right: 10px;

}

